<h1>All of the Files in the Current Directory</h1>

<% for file in @files %>
	<ul>
		<li>file name is: <%= file %></li>
	</ul>
<% end %>

<br />

********************************************

<p>
	Say <%= link_to "Hello", say_hello_path %>!
</p>

<p>
	Time to say <%= link_to "Goodbye", say_goodbye_path %>!!
</p>